@model LotteryCategoryModel
@using Nop.Plugin.LDTracker.Models;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("LDTracker.LotteryCategory.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "lottery-category-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("LDTracker.LotteryCategory.AddNew") @Html.ActionLink("(back to lottery category list)", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("~/Plugins/LDTracker/Views/LotteryCategory/_CreateOrUpdate.cshtml", Model)
}